/* src/styles/index.css */
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px; /* Largura máxima para telas grandes */
  padding: 20px;
  box-sizing: border-box; /* Inclui padding e border no tamanho total */
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #a73636;
  color: #fff;
  height: 50px; /* Altura fixa como no exemplo */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}

.app-title {
  flex-grow: 1;
  text-align: start;
  font-size: 15px; /* Ajustado para o exemplo */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
}

.app-logo {
  width: auto; /* Ajustado para o exemplo */
  height: 50px; /* Ajustado para o exemplo */
  margin-right: 10px; /* Espaço entre a logo e o título */

}

@media (max-width: 768px) {

  .app-header {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    height: auto;
    gap: 0.5rem;
  }
  .app-title {
    font-size: 20px; /* Ajustado para telas menores */
  }
}